<section class="shopping-info">
    <div class="container">
        <div class="row">
            <article class="col-12 col-lg-4">
                <i class="fas fa-credit-card"></i>
                <h2 class="title-shopping-info">Pagá con tarjeta o en efectivo</h2>
                <span class="p-shopping-info">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</span>
            </article>
            <article class="col-12 col-lg-4">
                <i class="fas fa-gift"></i>
                <h2 class="title-shopping-info">Envío gratis desde $ 1.999</h2>
                <span class="p-shopping-info">Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</span>
            </article>
            <article class="col-12 col-lg-4">
                <i class="fas fa-user-shield"></i>
                <h2 class="title-shopping-info">Seguridad, de principio a fin</h2>
                <span class="p-shopping-info">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido.</span>
            </article>
        </div>
    </div>
</section>

<footer class="main-footer">
    <div class="container">
        <span class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</span>
    </div>
</footer>