<header class="main-header">
    <div class="container">
        <div class="row">
            <a class="col-5 col-md-3 col-xl-2" href="/"><img src="/images/logo-mercado-liebre.svg" alt="logo"></a>
            <div class="col-7 col-md-5 col-xl-6 input-group mb-3">
                <input type="text" class="form-control" placeholder="Buscar productos, marcas y más"
                    aria-label="Buscar productos, marcas y más" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2"><i class="fas fa-search"></i></span>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <a href="#">
                    <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a href="#" id="mobile" class="toogle-nav"><i class="fas fa-bars"></i></a>
            </div>
            <nav class="col-12 main-nav" id="nav">
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul>
                    <li><a href="#">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
                    <li><a href="#">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>