<!DOCTYPE html>
<html>
  <head>
    <%- include("partials/head.ejs") %>
    <title>Home</title>
  </head>
  <body>
    <h1>Home</h1>
    <a href="/users/login"><button type="button" class="btn btn-primary">Login</button></a>
    <a href="/users/register"><button type="button" class="btn btn-primary">Register</button></a>
  </body>
</html>
