<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("partials/head.ejs") %>
    <title>Profile</title>
</head>
<body>
    <h1>Profile</h1>
    <% if (!user) { %>
        <p>No podés ingresar a esta sección sin loguearte</p>
    <% } else { %>
        <p>Nombre: <%= user.nombre %></p>
        <p>Apellido: <%= user.apellido %></p>
        <p>Email: <%= user.email %></p>
    <% } %>
</body>
</html>