<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("partials/head.ejs") %>
    <title>Profile</title>
</head>
<body>
    <h1>Profile</h1>
    <p>Nombre: <%= usuario.nombre %></p>
    <p>Apellido: <%= usuario.apellido %></p>
    <p>Email: <%= usuario.email %></p>
</body>
</html>