<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=none">

    <!-- Estilos -->
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="shortcut icon" type="image/svg" href="https://http2.mlstatic.com/ui/navigation/5.6.0/mercadolibre/favicon.ico">
    <link rel="stylesheet" href="/stylesheets/error.css">

    <title>Error | MercadoLiebre Argentina</title>
</head>

<body>
    <%- include("./partials/header") %>
    <div class="error">
        <p><i class="fas fa-exclamation-triangle"></i></p>
        <p>404</p>
        <p>No se encuentra la página</p>
    </div>
    <%- include("./partials/footer") %>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="/javascripts/toogle-nav.js"></script>
</body>

</html>