<!DOCTYPE html>
<html lang="es">
<html>
  <head>
    <%- include("partials/head", {title: "Home"}) %>
  </head>
  <body>
    <%- include("partials/header", {title: "Ejercicio DH Movies - Germán Silva"}) %>
    <%- include("partials/scripts") %>
  </body>
</html>
