@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Mobile-First*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

body {
    background-image: url("../images/bg-body.png");
}

.container {
    margin: 0 10px;
    max-width: 100vw;
}

.logo {
    display: block;
    margin: 15px 0;
    width: 180px;
    border-radius: 500px;
    border: 1px solid #44444450;
    position: relative;
    left: calc((100vw - 20px - 180px)/2);
}

.main-nav {
    margin-top: 30px;
}

.main-nav ul li a, .main-footer ul li a {
    display: block;
    text-align: center;
    text-transform: uppercase;
    line-height: 50px;
    font-weight: 600;
    height: 50px;
    color: white;
    background-color: #444444;
}

.main-nav ul li:nth-child(n+2) a, .main-footer ul li:nth-child(n+2) a {
    margin-top: 5px;
}

.banner {
    display: none;
}

.vip-products {
    margin-top: 30px;
}

.product {
    margin: 30px 0;
}

.product h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.photo-container {
    position: relative;
}

.photo {
    width: 100%;
}

.special {
    position: absolute;
    right: 5%;
}

.zoom {
    position: absolute;
    top: 40%;
    display: block;
    height: 40px;
    width: 100%;
    background-color: #00000060;
    text-align: center;
    text-transform: uppercase;
    color: white;
    line-height: 40px;
}

.more {
    display: block;
    width: 25%;
    height: 30px;
    background-color: #444444;
    text-transform: uppercase;
    text-align: center;
    line-height: 30px;
    font-size: 0.75em;
    color: white;
    margin-top: 5px;
}

/*Tablets*/

@media (min-width: 768px) {

    .main-nav, .main-footer {
        overflow: hidden;
    }

    .main-nav ul li a {
        float: left;
        width: calc((100vw - 70px) / 6);
    }

    .main-nav ul li:nth-child(n+2) a {
        margin-left: 10px;
        margin-top: 0;
    }

    .banner {
        display: block;
        margin-top: 30px;
    }

    .banner img {
        display: block;
        width: 100%;
    }

    .vip-products {
        overflow: hidden;
        margin-top: 30px;
    }

    .product {
        width: calc((100vw - 40px) / 2);
        float: left;
        margin-top: 0;
        margin-bottom: 30px;
    }

    .product:nth-child(even) {
        margin-left: 20px;
    }

}

/*Desktop*/

@media (min-width: 1200px) {

    .container {
        margin: 0 auto;
        max-width: 1180px;
    }

    .logo {
        left: calc((1180px - 180px)/2);
    }

    .main-nav ul li a {
        width: calc((1180px - 100px) / 6);
    }

    .main-nav ul li:nth-child(n+2) a {
        margin-left: 20px;
    }

    .banner {
        margin-top: 20px;
    }

    .product {
        width: 380px;
        margin-left: 20px;
    }

    .vip-products .product:nth-child(3n-2) {
        margin-left: 0;
    }

    .main-footer {
        display: block;
        background-color: #C80000;
        height: 150px;
        border-radius: 30px 30px 0 0;
        position: relative;
    }

    .main-footer ul {
        display: block;
        height: 20px;
        position: absolute;
        overflow: hidden;
        top: 65px;
        left: 27.2%;
        width: 45.6%;
    }

    .main-footer ul li {
        float: left;
        height: 20px;
        margin-left: 11px;
        padding-left: 10px;
        border-left: 1px solid white;
    }

    .main-footer ul li a {
        margin-top: 0 !important;
        height: 20px;
        line-height: 20px;
        text-transform: capitalize;
        background-color: #00000000;
    }

    .main-footer ul li:nth-child(1) {
        padding: 0;
        margin: 0;
        border: 0;
    }

}