<footer class="page-footer font-small special-color-dark">

    <div class="container text-center text-md-left py-3">

        <div class="row">

            <div class="col-md-3 mx-auto">

                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Películas</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="/movies">Listar</a>
                    </li>
                    <li>
                        <a href="/movies/new">Nuevas</a>
                    </li>
                    <li>
                        <a href="/movies/recommended">Recomendadas</a>
                    </li>
                    <li>
                        <a href="/movies/create">Agregar</a>
                    </li>
                </ul>

            </div>

            <hr class="clearfix w-100 d-md-none">

            <div class="col-md-3 mx-auto">

                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Actores</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="/actors">Listar</a>
                    </li>
                    <li>
                        <a href="/actors/recommended">Recomendados</a>
                    </li>
                    <li>
                        <a href="/actors/create">Agregar</a>
                    </li>
                </ul>

            </div>

            <hr class="clearfix w-100 d-md-none">

            <div class="col-md-3 mx-auto">

                <h5 class="font-weight-bold text-uppercase mt-3 mb-4"><a href="/genres">Géneros</a></h5>

            </div>

            <hr class="clearfix w-100 d-md-none">

            <div class="col-md-3 mx-auto">

                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Actuaciones</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="/actings/add">Agregar</a>
                    </li>
                    <li>
                        <a href="/actings/delete">Eliminar</a>
                    </li>
                </ul>

            </div>

        </div>

    </div>

    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="/"> DH Movies</a>
    </div>

</footer>