<header>
    <div class="bg-dark">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark dark-color">
                <a class="navbar-brand" href="/">DH Movies</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="basicExampleNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="movies-dropdown" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">Películas</a>
                            <div class="dropdown-menu dropdown-primary" aria-labelledby="movies-dropdown">
                                <a class="dropdown-item" href="/movies">Listar</a>
                                <a class="dropdown-item" href="/movies/new">Nuevas</a>
                                <a class="dropdown-item" href="/movies/recommended">Recomendadas</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/movies/create">Agregar película</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="actors-dropdown" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">Actores</a>
                            <div class="dropdown-menu dropdown-primary" aria-labelledby="actors-dropdown">
                                <a class="dropdown-item" href="/actors">Listar</a>
                                <a class="dropdown-item" href="/actors/recommended">Recomendados</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/actors/create">Agregar actor/actriz</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/genres">Géneros</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="actors-dropdown" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">Actuaciones</a>
                            <div class="dropdown-menu dropdown-primary" aria-labelledby="actors-dropdown">
                                <a class="dropdown-item" href="/actings/add">Agregar</a>
                                <a class="dropdown-item" href="/actings/delete">Eliminar</a>
                            </div>
                        </li>
                    </ul>
                    <form class="form-inline" action="/search" method="GET">
                        <div class="md-form my-0">
                            <input class="form-control mr-sm-2" type="text" placeholder="Buscar películas, actores o géneros" aria-label="Search" name="keywords">
                        </div>
                    </form>
                </div>
            </nav>
        </div>
    </div>
    <div class="container">
        <h1 style="margin: 35px 0"><%= title %></h1>
    </div>
</header>